<form action="/named-cat" method="post">
<input type="text" name="name" placeholder="first name">
<input type="text" name="lastname" placeholder="last name">
<input type="submit" value="Submit">
</form>
