<!--
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
  <h1>My name is <%= @cat_name %> <%= @lastname %></h1>
</div> -->

<h1>Fight!</h1>
<h2>Get ready to Fight!</h2>
<form action="/names" method="post">
  <input type="text" name="player_1_name" placeholder="Player 1">
  <input type="text" name="player_2_name" placeholder="Player 2">
  <input type="submit" value="Submit">
</form>
